img {
  width: 100%;
}

ul {
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
  line-height: 1.5;
}

body {
  color: #333;
  font-family: "Noto Sans JP", "M PLUS Rounded 1c", "Oswald", "Prompt", sans-serif;
  line-height: 1.5;
  background: #e3e9da;
  margin: 0;
}
body a {
  color: #fff;
  transition: color 0.3s;
  text-decoration: none;
}
body a:hover {
  color: #333;
  text-decoration: none;
}

header {
  width: 100%;
  height: 50px;
  max-width: 1380px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media screen and (min-width: 769px) {
  header {
    height: 150px;
  }
}
header .header-title {
  font-size: clamp(25px, 5.208vw, 53px);
  text-align: left;
  font-family: "M PLUS Rounded 1c";
  letter-spacing: 0.3em;
  margin: 0 0 0 5%;
}
header .ham {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  border: 0;
  background: none;
  cursor: pointer;
}
header .ham .ham-line {
  position: relative;
  width: 25px;
  height: 2px;
  background: #333;
}
header .ham .ham-line::before {
  top: -8px;
}
header .ham .ham-line::after {
  bottom: -8px;
}
header .ham .ham-line::before, header .ham .ham-line::after {
  position: absolute;
  content: "";
  display: block;
  width: 25px;
  height: 2px;
  background: #333;
  transition: transform 0.5s;
}
@media screen and (min-width: 769px) {
  header .ham {
    display: none;
  }
}
header .ham[aria-expanded=true] .ham-line {
  background: transparent;
}
header .ham[aria-expanded=true] .ham-line::before {
  top: 0;
  transform: rotate(45deg);
}
header .ham[aria-expanded=true] .ham-line::after {
  bottom: 0;
  transform: rotate(-45deg);
}
header .nuvList-link {
  color: inherit;
  font-weight: 400;
  text-transform: uppercase;
  text-decoration: none;
}
header .nuvList-link:hover {
  color: #39d24a;
}
@media screen and (max-width: 768px) {
  header .hd-nav {
    display: none;
    position: absolute;
    top: 50px;
    left: 0;
    width: 100%;
    height: calc(100vh - 50px);
    background: #f3f3f3;
    overflow-y: auto;
  }
  header .hd-nav .hd-nuvList {
    border-top: 1px solid #333;
  }
  header .hd-nav .nuvList-item {
    width: 60vw;
    margin: 0 auto;
    text-align: center;
    border-bottom: 2px solid #333;
  }
  header .hd-nav .nuvList-item[aria-current] {
    border-bottom: 3px solid #ff36a3;
  }
  header .hd-nav .nuvList-link {
    width: 60vw;
    display: block;
    margin: 0 auto;
    padding: 10px 15px;
  }
}
@media screen and (min-width: 769px) {
  header .hd-nav {
    display: block !important;
    position: static;
    width: auto;
    height: auto;
  }
  header .hd-nav .hd-nuvList {
    display: flex;
    padding: 1rem;
  }
  header .hd-nav .nuvList-link {
    display: block;
    padding: 1rem;
    font-size: clamp(10px, 2.083vw, 21px);
    color: #333;
  }
}

.mv {
  width: 100%;
  max-width: 1380px;
  margin: 0 auto;
  overflow: hidden;
  background: radial-gradient(circle at bottom, #D6A3DC, transparent 80%), linear-gradient(to top, dodgerblue 0%, transparent 70%), linear-gradient(to bottom, transparent, rgba(214, 163, 220, 0.4) 70%), #75CCE8;
  animation: bg 30s infinite;
}
@keyframes bg {
  0%, 100% {
    background-color: #75CCE8;
  }
  25% {
    background-color: #A5DEE5;
  }
  50% {
    background-color: #f7DB70;
  }
  75% {
    background-color: #EABEBF;
  }
}
.mv .mv-inner {
  width: 100%;
  text-align: center;
  font-size: clamp(20px, 4.167vw, 43px);
  margin: 0 auto;
  padding: 60px 0;
}

.container {
  width: 100%;
  padding: 0 3%;
}
.container .section {
  width: 100%;
  max-width: 1380px;
  margin: 20px auto;
}
.container .section .section-title {
  font-size: clamp(20px, 4.167vw, 43px);
  font-family: "M PLUS Rounded 1c";
  margin: 0 0 16px 0;
}
.container .section .grid-box {
  display: grid;
  background: #EABEBF;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 10px;
  padding: 10px;
}/*# sourceMappingURL=style.css.map */