@charset "UTF-8";
//共通の指定

img{
  width: 100%;
}
ul{
  padding: 0;
  list-style: none;
}
a{
  text-decoration: none;
}
h1,h2,h3,h4,h5,h6{
  margin: 0;
  padding: 0;
  line-height: 1.5;
}

// 配色
$purple: #D6A3DC;
$blue: #75CCE8;
$liteBlue: #A5DEE5;
$yellow: #f7DB70;
$pink: #EABEBF;
$background: #bbd8db;

// フォントサイズ
@function fontSize($minFont) {
  // 最小ビューポートサイズ・最大ビューポートサイズ
  $minWidth: 480;
  $maxWidth: 1020;
  // pxの単位をつける
  $minFontSize:$minFont*1px;
  // 最小のフォントサイズとビューポートサイズを使って、vwを求める。
  // 値は小数点第3位までで四捨五入
  $fontVw:round($minFont/$minWidth*100*1000)/1000;
  // 求めたvwと最大ビューポートサイズを使って、最大フォントサイズを求める。
  $maxFontSize: round($maxWidth*($fontVw/100))*1px;
  // 求めた値を使って、clamp()関数を返す
  @return clamp(#{$minFontSize}, #{$fontVw}vw, #{$maxFontSize});
}

body{
  color: #333;
  font-family: 'Noto Sans JP', 'M PLUS Rounded 1c', 'Oswald', 'Prompt', sans-serif;
  line-height: 1.5;
  background: $background;
  a {
    color: #fff;
    transition: color 0.3s;
    text-decoration: none;
    &:hover{
      color: $purple;
      text-decoration: none;
    }
  }
  margin: 0;
}
// -----header-----
header {
  width: 100%;
  height: 50px;
  max-width: 1380px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  @media screen and (min-width: 769px){
    height: 150px;
  }
  .header-title{
    font-size: fontSize(24);
    text-align: left;
    font-family: 'M PLUS Rounded 1c';
    letter-spacing: 0.3em;
    margin: 0 0 0 1%;
  }
  // ---ハンバーガー---
  .ham{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    border: 0;
    background: none;
    cursor: pointer;
    .ham-line{
      position: relative;
      width: 25px;
      height: 2px;
      background: #333;
      &::before{
        top: -8px;
      }
      &::after{
        bottom: -8px;
      }
      &::before,
      &::after{
        position: absolute;
        content: "";
        display: block;
        width: 25px;
        height: 2px;
        background: #333;
        transition: transform 0.5s;
      }
    }
    @media screen and (min-width: 769px){
      display: none;
    }
  }
  //閉じる時の挙動
  //'aria-expanded'の値によって変わる。JSにて'true','false'切替
  .ham[aria-expanded="true"]{
    .ham-line{
      background: transparent;
      &::before{
        top: 0;
        transform: rotate(45deg);
      }
      &::after{
        bottom: 0;
        transform: rotate(-45deg);
      }
    }
  }
  //---ヘッダーメニュー---
  .nuvList-link{
    color: #333;
    font-weight: 400;
    text-transform: uppercase;//大文字
    text-decoration: none;
  }

  .hd-nav{
    //SP
    @media screen and (max-width: 768px) {
      display: none;
      position: absolute;
      top: 50px;
      left: 0;
      width: 100%;
      height: calc(100vh - 50px);
      background: #f3f3f3;
      overflow-y: auto;
      .hd-nuvList{
        border-top: 1px solid #333;
      }
      .nuvList-item{
        width: 60vw;
        margin: 0 auto;
        text-align: center;
        border-bottom: 2px solid #333;
        &[aria-current]{
          border-bottom: 3px solid $purple;
        }
      }
      .nuvList-link{
        width: 60vw;
        display: block;
        margin: 0 auto;
        padding: 10px 15px;
      }
    }
    //PC
    @media screen and (min-width: 769px){
      display: block !important;
      position: static;
      width: auto;
      height: auto;
      .hd-nuvList{
        display: flex;
        padding: 1rem;
      }
      .nuvList-link{
        display: block;
        padding: 1rem;
        font-size: fontSize(10);
        color: #333;
        &:hover {
          text-decoration: underline;
        }
      }
    }
  }
}
// -----mv-----
.mv{
  background: url(../img/mv-img.png);
  background-position: center;
  background-size: cover;
  overflow: hidden;
  //SP
  @media screen and (max-width: 768px) {
    width: 100%;
    height: 100vh;
  }
  //PC
  @media screen and (min-width: 769px) {
    width: 100%;
    max-width: 1380px;
    height: 60vh;
    margin: 0 auto;
    }
  // グラデーションにする場合
  // background: radial-gradient(circle at bottom, $purple, transparent 80%),
  //   linear-gradient(to top, dodgerblue 0%, transparent 70%),
  //   linear-gradient(to bottom, transparent, rgba($purple, 0.4) 70%),
  //   $blue;
  // animation: bg 30s infinite;
  // @keyframes bg {
  //   0%,
  //   100% {
  //     background-color: $blue;
  //   }
  //   25% {
  //     background-color: $liteBlue;
  //   }
  //   50% {
  //     background-color: $yellow;
  //   }
  //   75% {
  //     background-color: $pink;
  //   }
  // }
  //写真にする場合

  .mv-inner{
    width: 100%;
    text-align: center;
    font-size: fontSize(20);
    margin: 0 auto;
    padding: 60px 0;
    p{
      box-decoration-break: clone;
      background-color: rgba(117,204,232,0.5);
      line-height: 2.2;
      margin: 0 auto;
      padding: 10px;
      border-radius: 50px 3%;
      //SP
      @media screen and (max-width: 768px) {
        width: 80%;
      }
      //PC
      @media screen and (min-width: 769px) {
        width: 90%;
      }
      span{
        text-shadow: 7px 4px 1px rgba(0, 0, 0, 0.2);
        letter-spacing: 1rem;
      }
      //SP
      @media screen and (max-width: 768px) {
        font-size: fontSize(35);
      }
      //PC
      @media screen and (min-width: 769px) {
        font-size: fontSize(30);
      }
    }
  }
}
// -----container-----
.container{
  width: 100%;
  padding: 0 3%;
  .section{
    width: 100%;
    max-width: 1380px;
    margin: 20px auto;
    .section-title{
      display: inline-block;
      padding: 0 1.5rem;
      margin: 0 0 1.5rem 10px;
      font-size: fontSize(20);
      font-family: 'M PLUS Rounded 1c';
      color: #f3f3f3;
      text-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
      border-bottom: 5px solid $pink;
    }
    .grid-box{
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(300px,1fr));
      gap: 10px;
      padding: 10px;
      .grid-item{
        background: #f3f3f3;
        box-shadow: 5px 5px 6px -2px rgba(0, 0, 0, 0.5);
        padding: 5%;
        .card-title{
          font-size: fontSize(20);
          color: #333;
          font-family: 'M PLUS Rounded 1c';
          text-align: center;
          padding: 0.5rem;
          border: 5px dotted $pink;
          border-radius: 50px;
          margin: 0 0 5% 0;
        }
      }
    }
  }
}


// -----footer-----
.footer{
  position: absolute;
  bottom: 0;
  width: 100%;
  .ft-nav{
    padding: 1rem;
    .ft-nuvList{
      display: flex;
      justify-content: space-between;
      margin: 0 5%;
      .ft-nuvItem{
        width: calc(100% - 5%);
        text-align: center;
        .ft-nuvLink{
          color: #333;
        }
      }
    }
  }
  //SP
  @media screen and (max-width: 768px) {
    display: none;
  }
  //PC
  @media screen and (min-width: 769px) {
    margin: 40px 0 0 0;
    .ft-nav{
      .ft-nuvList{
        .ft-nuvItem{
          font-size: fontSize(12);
          .ft-nuvLink{
            &:hover {
                text-decoration: underline;
              }
          }
        }
      }
    }
  }
}
